* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
header {
  background: blueviolet;
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  color: white;
  padding: 18px;
  text-align: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#frontend {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  max-width: 700px;
  padding: 18px;
  text-align: center;
  margin: 50px auto;
  border-radius: 12px;
}
#frontend > h2 {
  font-size: 30px;
  color: darkmagenta;
  border-bottom: 4px solid gray;
}
#frontend > p {
  background: darkmagenta;
  padding: 15px;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
}
#frontend > button {
  padding: 10px;
  background-color: darkmagenta;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 0px 10px;
  cursor: pointer;
}
